.nav-list {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 250px;
  justify-content: center;
}

.nav-ref {
  text-decoration: none;
  color: #0B0D0C;
  font-weight: 700;
  font-size: 22px;
  border: 5px solid #0E4826;
  padding: 20px;
  border-radius: 10px;
  background-color: #778C80;
  font-family: "Montserrat", sans-serif;
}

.add-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #367C2F;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#62E256, #53C049);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #449E3C;
  color: #275A22;
  font-family: "Montserrat", sans-serif;
}

.add-header {
  padding-bottom: 10px;
}

.add-Button {
  border: 5px solid #86731B;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#CAAD28, #F5D032);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #A89022;
  color: #645614;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.add-list {
  margin-left: 50px;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(#E7FEF3, #A2B3AB);
  padding: 20px;
  border-radius: 10px;
  width: 660px;
  border: 5px solid #656F6A;
  box-shadow: 10px 5px 5px #83918A;
  cursor: pointer;
}

.update-list {
  box-shadow: 10px 5px 5px #5E5E5E;
  border: 5px solid #000000;
  background: linear-gradient(#C3C3C3, #A2A2A2);
}

.add-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  margin-top: 50px;
}

.update-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  margin-top: 50px;
}


.label-id-delete {
  color: #808080;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.label-id-update {
  color: #D7F1DD;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.input-id-add {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #3E1133;
  background: linear-gradient(#E841BE, #C637A2);
  font-size: 20px;
  color: #691D56;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A42E87;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.input-id-delete {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #3C3C3C;
  background: linear-gradient(#8A8A8A, #A2A2A2);
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  box-shadow: 10px 5px 5px #5E5E5E;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.input-id-update {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #7C8B7F;
  background: linear-gradient(#B9CFBE, #DEFAE4);
  font-size: 20px;
  color: #5E6960;
  font-weight: 700;
  box-shadow: 10px 5px 5px #9AAD9E;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.label-id-add {
  color: #601B4F;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.item-id-add {
  display: flex;
  justify-content: center;
}

.planet-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.group-delete-button {
  margin-bottom: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.group-update-button {
  margin-bottom: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.group-planet {
  display: flex;
  align-items: center;
  gap: 10px;
}


.select-zn-zodiak {
  padding: 5px;
  border: 5px solid #511E17;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#D9513F, #B74435);
  color: #59211A;
  font-weight: 700;
  box-shadow: 10px 5px 5px #95372B;
  font-size: 20px;
  width: 120px;
  font-family: "Montserrat", sans-serif;
}

.planet-label {
  font-size: 20px;
  font-weight: 700;
  color: #FB5D49;
  font-family: "Montserrat", sans-serif;
}

.group-degr {
  display: flex;
  align-items: center;
  gap: 10px;
}

.degr-input {
  padding: 5px;
  border: 5px solid #865E3F;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#DBC2AF, #FFE7D4);
  color: #5B371B;
  font-weight: 700;
  box-shadow: 10px 5px 5px #B18C70;
  font-size: 20px;
  width: 70px;
  font-family: "Montserrat", sans-serif;
}

.degr-label {
  font-size: 20px;
  font-weight: 700;
  color: #865E3F;
  font-family: "Montserrat", sans-serif;
}

.group-hours {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-hours {
  padding: 5px;
  border: 5px solid #351953;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#914CDB, #7638B9);
  color: #3B1C5C;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A24CFD;
  font-size: 20px;
  width: 70px;
  font-family: "Montserrat", sans-serif;
}

.label-hours {
  font-size: 20px;
  font-weight: 700;
  color: #612D97;
  font-family: "Montserrat", sans-serif;
}

.group-add-button {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.add-list-group {
  display: flex;
  justify-content: center;
}

.delete-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #193E43;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#6C9298, #B4E6ED);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #3B676E;
  color: #15383D;
  font-family: "Montserrat", sans-serif;
}

.delete-Button {
  border: 5px solid #E69017;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#E6C217, #E6A917);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #E6C063;
  color: #E66C17;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.update-Button {
  border: 5px solid #8B214A;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#CF326E, #FA3B84);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #731C3D;
  color: #691938;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.update-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #413E3A;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#968056, #EBB039);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #6B624F;
  color: #332E25;
  font-family: "Montserrat", sans-serif;
}

.getall-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #71616F;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#B153A6, #DB67CE);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #8F4386;
  color: #4B2346;
  font-family: "Montserrat", sans-serif;
}

.table-getall {
  margin-left: 50px;
  margin-top: 50px;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.button-show-all {
  margin-left: 50px;
  border: none;
  cursor: pointer;
  padding: 20px;
  background: linear-gradient(#A139CA, #C345F5);
  color: #501C64;
  box-shadow: 10px 5px 5px #6B2686;
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.td-get-all {
  background: linear-gradient(#C5BA7C, #F0E396);
  border: 5px solid #817A51;
  text-align: center;
  padding: 20px;
  color: #5F5A3C;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A39A67;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.table-getall-head {
  background: linear-gradient(#CF9CA7, #FABBC9);
  padding: 20px 30px;
  border: 5px solid #8B6970;
  box-shadow: 10px 5px 5px #AD828B;
  color: #694F55;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #B1D0BE;
}