@media screen and (min-width: 1200px) {
  .nav-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 180px;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .nav-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 70px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-ref {
    text-decoration: none;
    color: #0B0D0C;
    font-weight: 700;
    font-size: 20px;
    border: 5px solid #0E4826;
    padding: 12px;
    border-radius: 10px;
    background-color: #778C80;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .nav-ref {
    text-decoration: none;
    color: #0B0D0C;
    font-weight: 700;
    font-size: 18px;
    border: 5px solid #0E4826;
    padding: 15px;
    border-radius: 10px;
    background-color: #778C80;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav-ref {
    text-decoration: none;
    color: #0B0D0C;
    font-weight: 700;
    font-size: 20px;
    border: 5px solid #0E4826;
    padding: 15px;
    border-radius: 10px;
    background-color: #778C80;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-ref {
    text-decoration: none;
    color: #0B0D0C;
    font-weight: 700;
    font-size: 12px;
    border: 5px solid #0E4826;
    padding: 10px;
    border-radius: 10px;
    background-color: #778C80;
    font-family: "Montserrat", sans-serif;
  }
}

.add-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #367C2F;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#62E256, #53C049);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #449E3C;
  color: #275A22;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .add-Ref {
    font-size: 20px;
    padding: 15px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .add-Ref {
    font-size: 22px;
    padding: 15px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-Ref {
    font-size: 23px;
    padding: 14px;
    margin-left: 0px;
  }
}

.add-header {
  padding-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .add-header {
    display: flex;
    justify-content: center;

  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .add-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-header {
    display: flex;
    justify-content: center;
  }
}

.add-Button {
  border: 5px solid #86731B;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#CAAD28, #F5D032);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #A89022;
  color: #645614;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .add-Button {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .add-Button {
    font-size: 22px;
    padding: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-Button {
    font-size: 23px;
    padding: 10px;
  }
}

.add-list {
  margin-left: 50px;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(#E7FEF3, #A2B3AB);
  padding: 20px;
  border-radius: 10px;
  width: 660px;
  border: 5px solid #656F6A;
  box-shadow: 10px 5px 5px #83918A;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .add-list {
    margin-left: 0px;
    width: 234.703px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .add-list {
    margin-left: 0px;
    width: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-list {
    margin-left: 0px;
    width: 661.578px;
  }
}


.update-list {
  box-shadow: 10px 5px 5px #5E5E5E;
  border: 5px solid #000000;
  background: linear-gradient(#C3C3C3, #A2A2A2);
}

.add-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  margin-top: 50px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .delete-list-id-groud {
    justify-content: center;
    margin-left: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .delete-list-id-groud {
    justify-content: center;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .delete-list-id-groud {
    justify-content: center;
    margin-left: 0px;
  }
}

.update-list-id-groud {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  margin-top: 50px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .update-list-id-groud {
    margin-left: 0;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .update-list-id-groud {
    margin-left: 0;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .update-list-id-groud {
    margin-left: 0;
    justify-content: center;
  }
}

.label-id-delete {
  color: #808080;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.label-id-update {
  color: #D7F1DD;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.input-id-add {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #3E1133;
  background: linear-gradient(#E841BE, #C637A2);
  font-size: 20px;
  color: #691D56;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A42E87;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-id-add {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-id-add {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-id-add {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .input-id-delete {
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3C3C3C;
    background: linear-gradient(#8A8A8A, #A2A2A2);
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    box-shadow: 10px 5px 5px #5E5E5E;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-id-delete {
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3C3C3C;
    background: linear-gradient(#8A8A8A, #A2A2A2);
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    box-shadow: 10px 5px 5px #5E5E5E;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-id-delete {
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3C3C3C;
    background: linear-gradient(#8A8A8A, #A2A2A2);
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    box-shadow: 10px 5px 5px #5E5E5E;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-id-delete {
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3C3C3C;
    background: linear-gradient(#8A8A8A, #A2A2A2);
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    box-shadow: 10px 5px 5px #5E5E5E;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

.input-id-update {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #7C8B7F;
  background: linear-gradient(#B9CFBE, #DEFAE4);
  font-size: 20px;
  color: #5E6960;
  font-weight: 700;
  box-shadow: 10px 5px 5px #9AAD9E;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-id-update {
    font-size: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-id-update {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-id-update {
    font-size: 19px;
  }
}

.label-id-add {
  color: #601B4F;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.item-id-add {
  display: flex;
  justify-content: center;
}

.planet-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .planet-item {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .planet-item {
    display: flex;
    flex-direction: column;
  }
}

.group-delete-button {
  margin-bottom: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.group-update-button {
  margin-bottom: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-update-button {
    margin-top: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-update-button {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .group-update-button {
    margin-top: 5px;
  }
}

.group-planet {
  display: flex;
  align-items: center;
  gap: 10px;
}


.select-zn-zodiak {
  padding: 5px;
  border: 5px solid #511E17;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#D9513F, #B74435);
  color: #59211A;
  font-weight: 700;
  box-shadow: 10px 5px 5px #95372B;
  font-size: 20px;
  width: 120px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .select-zn-zodiak {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .select-zn-zodiak {
    font-size: 17px;
  }
}

.planet-label {
  font-size: 20px;
  font-weight: 700;
  color: #FB5D49;
  font-family: "Montserrat", sans-serif;
}

.group-degr {
  display: flex;
  align-items: center;
  gap: 10px;
}

.degr-input {
  padding: 5px;
  border: 5px solid #865E3F;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#DBC2AF, #FFE7D4);
  color: #5B371B;
  font-weight: 700;
  box-shadow: 10px 5px 5px #B18C70;
  font-size: 20px;
  width: 70px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .degr-input {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .degr-input {
    font-size: 17px;
  }
}

.degr-label {
  font-size: 20px;
  font-weight: 700;
  color: #865E3F;
  font-family: "Montserrat", sans-serif;
}

.group-hours {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-hours {
  padding: 5px;
  border: 5px solid #351953;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(#914CDB, #7638B9);
  color: #3B1C5C;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A24CFD;
  font-size: 20px;
  width: 70px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .input-hours {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .input-hours {
    font-size: 17px;
  }
}

.label-hours {
  font-size: 20px;
  font-weight: 700;
  color: #612D97;
  font-family: "Montserrat", sans-serif;
}

.group-add-button {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.add-list-group {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .delete-Ref {
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
    text-decoration: none;
    border: 5px solid #193E43;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(#6C9298, #B4E6ED);
    font-weight: 700;
    font-size: 24px;
    box-shadow: 10px 5px 5px #3B676E;
    color: #15383D;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .delete-Ref {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    text-decoration: none;
    border: 5px solid #193E43;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#6C9298, #B4E6ED);
    font-weight: 700;
    font-size: 20px;
    box-shadow: 10px 5px 5px #3B676E;
    color: #15383D;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .delete-Ref {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    text-decoration: none;
    border: 5px solid #193E43;
    padding: 12px;
    border-radius: 10px;
    background: linear-gradient(#6C9298, #B4E6ED);
    font-weight: 700;
    font-size: 22px;
    box-shadow: 10px 5px 5px #3B676E;
    color: #15383D;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .delete-Ref {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    text-decoration: none;
    border: 5px solid #193E43;
    padding: 14px;
    border-radius: 10px;
    background: linear-gradient(#6C9298, #B4E6ED);
    font-weight: 700;
    font-size: 23px;
    box-shadow: 10px 5px 5px #3B676E;
    color: #15383D;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 1200px) {
  .delete-Button {
    border: 5px solid #E69017;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(#E6C217, #E6A917);
    font-weight: 700;
    font-size: 24px;
    box-shadow: 10px 5px 5px #E6C063;
    color: #E66C17;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .delete-Button {
    border: 5px solid #E69017;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#E6C217, #E6A917);
    font-weight: 700;
    font-size: 18px;
    box-shadow: 10px 5px 5px #E6C063;
    color: #E66C17;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .delete-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .delete-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .delete-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .delete-Button {
    border: 5px solid #E69017;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#E6C217, #E6A917);
    font-weight: 700;
    font-size: 20px;
    box-shadow: 10px 5px 5px #E6C063;
    color: #E66C17;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .delete-Button {
    border: 5px solid #E69017;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#E6C217, #E6A917);
    font-weight: 700;
    font-size: 22px;
    box-shadow: 10px 5px 5px #E6C063;
    color: #E66C17;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
}

.update-Button {
  border: 5px solid #8B214A;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#CF326E, #FA3B84);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #731C3D;
  color: #691938;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .update-Button {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .update-Button {
    font-size: 22px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .update-Button {
    font-size: 23px;
    padding: 10px;
  }
}

.update-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #413E3A;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#968056, #EBB039);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #6B624F;
  color: #332E25;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .update-Ref {
    margin-left: 0px;
    font-size: 18px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .update-Ref {
    margin-left: 0px;
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .update-Ref {
    margin-left: 0px;
    font-size: 21px;
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .update-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .update-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .update-header {
    display: flex;
    justify-content: center;
  }
}

.getall-Ref {
  display: inline-block;
  margin-top: 15px;
  margin-left: 50px;
  text-decoration: none;
  border: 5px solid #71616F;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(#B153A6, #DB67CE);
  font-weight: 700;
  font-size: 24px;
  box-shadow: 10px 5px 5px #8F4386;
  color: #4B2346;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .getall-Ref {
    margin-left: 0px;
    font-size: 18px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .getall-Ref {
    margin-left: 0px;
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .getall-Ref {
    margin-left: 0px;
    font-size: 22px;
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .getall-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .getall-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .getall-header {
    display: flex;
    justify-content: center;
  }
}

.table-getall {
  margin-left: 50px;
  margin-top: 50px;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.button-show-all {
  margin-left: 50px;
  border: none;
  cursor: pointer;
  padding: 20px;
  background: linear-gradient(#A139CA, #C345F5);
  color: #501C64;
  box-shadow: 10px 5px 5px #6B2686;
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-show-all {
    font-size: 18px;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-show-all {
    font-size: 20px;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-show-all {
    font-size: 22px;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.td-get-all {
  background: linear-gradient(#C5BA7C, #F0E396);
  border: 5px solid #817A51;
  text-align: center;
  padding: 20px;
  color: #5F5A3C;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 10px 5px 5px #A39A67;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .td-get-all {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .td-get-all {
    font-size: 18px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .td-get-all {
    font-size: 20px;
    padding: 10px;
  }
}

.table-getall-head {
  background: linear-gradient(#CF9CA7, #FABBC9);
  padding: 20px 30px;
  border: 5px solid #8B6970;
  box-shadow: 10px 5px 5px #AD828B;
  color: #694F55;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .table-getall-head {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .table-getall-head {
    font-size: 16px;
    padding: 5px 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .table-getall-head {
    font-size: 18px;
    padding: 5px 5px;
  }
}

body {
  margin: 0;
  background-color: #B1D0BE;
}